@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura-Bold.woff2') format('woff2'),
        url('fonts/Futura-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Futura', sans-serif;
    background-image: url("../img/WTF.png");
    background-repeat: repeat;
}

ul,li { list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; 
    list-style-type: none;
    padding-inline-start: 0px;
}

h2 {
    font-size: 200%;
    background: #cb356b;
    background: -webkit-linear-gradient(to right, #cb356b, #bd3f32);
    background: linear-gradient(to right, #cb356b, #bd3f32);
    -webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

h3 {
    background: #cb356b;
    background: -webkit-linear-gradient(to right, #cb356b, #bd3f32);
    background: linear-gradient(to right, #cb356b, #bd3f32);
    -webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

a {
    font-size: 200%;
    text-decoration: none;
    background: #cb356b;
    background: -webkit-linear-gradient(to right, #cb356b, #bd3f32);
    background: linear-gradient(to right, #cb356b, #bd3f32);
    -webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.footer p{
    background: #200122;
    background: -webkit-linear-gradient(to right, #200122, #6f0000);
    background: linear-gradient(to right, #200122, #6f0000);
    -webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

a:hover {
    cursor:url("../img/cursor.png"), auto;
    text-decoration: underline !important;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    padding-left: 50px;
    padding-right: 50px;
}

h1:hover {
	cursor:url("../img/cursor.png"), auto;
}

.logo {
    font-size: 600%;
}

.logo h1{
    background: #e43a15;
    background: -webkit-linear-gradient(to right, #e43a15, #e65245);
    background: linear-gradient(to right, #e43a15, #e65245);
    -webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}